<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.usuario">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".menuad"></activity>
        <activity android:name=".ingrediente" />
        <activity android:name=".productad" />
        <activity android:name=".estadistica" />
        <activity android:name=".opcionadmin" />
        <activity android:name=".compraex" />
        <activity android:name=".pago" />
        <activity android:name=".carrito" />
        <activity android:name=".Producto" />
        <activity android:name=".Menu" />
        <activity android:name=".opcion" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>